.column {
	float: left;
	color: white;
}
.pizzaColumn{
	width: 25%;
}
body {
	background-image: url("images/restaurant.jpg");
	background-repeat:  no-repeat;
	background-size: cover;
}

p {
	color: white;
}
.chosenText{
	font-weight: bold;	
}

li {
	color: white;
}

ul {
	color: green;
}

.header {
	padding: 40px;
	text-align: center;
	color: white;
	font-size: 20px;
}
.price {
	color: white;
	float: right;
}
.pizzaTile{
	float: left;
	margin: 5px;
}
.pizzaTileChosen{
	opacity: 0.5;
	background-color: white;
}